.search-functionality,
.search-icon {
  position: absolute;
  left: calc(50% - 24.5px);
}
.search-icon {
  height: 74.07%;
  top: 16.67%;
  bottom: 9.26%;
  max-height: 100%;
  width: 43px;
}
.search-functionality {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  width: 49px;
  height: 54px;
  overflow: hidden;
}
.search-button1,
.upload-icon {
  position: absolute;
  height: 73.97%;
  top: 0;
  bottom: 26.03%;
  left: calc(50% - 120px);
  width: 49px;
}
.upload-icon {
  height: 82.61%;
  top: 10.87%;
  bottom: 6.52%;
  left: calc(50% - 23px);
  max-height: 100%;
  width: 40px;
}
.upload-functionality {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 24px);
  width: 48px;
  height: 46px;
  overflow: hidden;
}
.upload-button {
  position: absolute;
  height: 63.01%;
  top: 12.33%;
  bottom: 24.66%;
  left: calc(50% - 57px);
  width: 48px;
}
.favorite-icon {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  width: 42px;
  height: 37px;
}
.favorite-functionality {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 19.5px);
  width: 39px;
  height: 35px;
  overflow: hidden;
}
.favorite-button {
  position: absolute;
  top: 14px;
  left: 125px;
  width: 39px;
  height: 35px;
}
.help-functionality {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 24.5px);
  width: 48px;
  height: 46px;
  overflow: hidden;
}
.help-button,
.help-icon {
  position: absolute;
  top: 2px;
  width: 55px;
}
.help-icon {
  left: calc(50% - 27.5px);
  height: 69px;
  overflow: hidden;
}
.help-button {
  left: calc(50% + 65px);
  height: 71px;
}
.buttons {
  position: relative;
  width: 240px;
  height: 73px;
}
.user-picture-icon {
  position: relative;
  border-radius: var(--br-256xl);
  width: 102px;
  height: 102px;
  object-fit: cover;
}
.search,
.top-right {
  background-color: var(--color-white);
}
.top-right {
  position: absolute;
  top: 43px;
  right: 60px;
  width: 369px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10xl);
}
.tennet-logo-icon {
    position: absolute;
    top: 56px;
    left: 158px;
    width: 300px;
    height: 61.36px;
    object-fit: cover;
  }

  .search,
  .top-right {
    background-color: var(--color-white);
  }
  .top-right {
    position: absolute;
    top: 43px;
    right: 60px;
    width: 369px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-10xl);
  }
  .line,
  .top-line {
    position: absolute;
    width: calc(100% - 32px);
    top: 197px;
    right: 16px;
    left: 16px;
    background-color: var(--grey-02);
    height: 1px;
  }
  .line {
    top: 291px;
  }
  .autor-button,
  .language-box {
    border: 1px solid var(--grey-04);
    background-color: var(--white);
    position: absolute;
    top: 309px;
    left: 41px;
    border-radius: var(--br-21xl);
    box-sizing: border-box;
    width: 581px;
    height: 65px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-6xs) var(--padding-xl);
    align-items: center;
    justify-content: flex-end;
  }
  .language-box {
    top: 501px;
    gap: var(--gap-3xs);
  }
  .line1 {
    position: absolute;
    width: calc(100% - 32px);
    top: 390px;
    right: 16px;
    left: 16px;
    background-color: var(--grey-02);
    height: 1px;
  }
  .organisationseinheit {
    position: absolute;
    top: 598px;
    left: 41px;
    border-radius: var(--br-21xl);
    background-color: var(--white);
    border: 1px solid var(--grey-04);
    box-sizing: border-box;
    width: 581px;
    height: 65px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-6xs) var(--padding-xl);
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-3xs);
  }
  .line2,
  .line3 {
    position: absolute;
    width: calc(100% - 32px);
    top: 485px;
    right: 16px;
    left: 16px;
    background-color: var(--grey-02);
    height: 1px;
  }
  .line3 {
    top: 581px;
  }
  .document-type-box,
  .owner-box {
    position: absolute;
    top: 694px;
    left: 41px;
    border-radius: var(--br-21xl);
    background-color: var(--white);
    border: 1px solid var(--grey-04);
    box-sizing: border-box;
    width: 581px;
    height: 65px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-6xs) var(--padding-xl);
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-3xs);
  }
  .owner-box {
    top: 790px;
  }
  .line-icon,
  .line4 {
    position: absolute;
    width: calc(100% - 32px);
    height: 1px;
  }
  .line4 {
    top: 677px;
    right: 16px;
    left: 16px;
    background-color: var(--grey-02);
  }
  .line-icon {
    top: 678px;
    right: 24px;
    left: 8px;
    max-width: 100%;
    overflow: hidden;
  }
  .featherupload-cloud-icon {
    position: relative;
    width: 36.59px;
    height: 36.59px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .jpg-png-or,
  .select-a-file {
    align-self: stretch;
    position: relative;
  }
  .jpg-png-or {
    font-size: 9.15px;
    color: var(--color-gray-200);
  }
  .description {
    width: 192.12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 9.15px;
  }
  .select-file {
    position: relative;
    text-transform: uppercase;
  }
  .bottom-content,
  .button,
  .file {
    flex-direction: row;
    align-items: center;
  }
  .button {
    border-radius: 3.81px;
    background-color: var(--color-gray-100);
    border: 0.8px solid var(--color-steelblue-200);
    display: flex;
    padding: 9.148514747619629px 12.198019981384277px;
    justify-content: flex-start;
    font-size: 7.62px;
    color: var(--color-steelblue-100);
  }
  .bottom-content,
  .file {
    justify-content: center;
  }
  .bottom-content {
    flex: 1;
    display: none;
    gap: 42.69px;
  }
  .file {
    position: absolute;
    height: 15.27%;
    width: 87.99%;
    top: 2.61%;
    right: 5.63%;
    bottom: 82.12%;
    left: 6.38%;
    border-radius: 7.62px;
    border: 0.8px dashed rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    padding: 12.198019981384277px 18.297029495239258px 12.198019981384277px
      24.396039962768555px;
    gap: 18.3px;
  }
  .bottom-content1 {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 113px;
    right: 234.88px;
  }
  .jpg-png-or1 {
    align-self: stretch;
    position: relative;
    font-size: 9.15px;
    font-family: var(--font-helvetica);
    color: var(--color-gray-200);
    display: none;
  }
  .datei-auswhlen,
  .description1 {
    font-family: var(--font-roboto-condensed);
  }
  .description1 {
    position: absolute;
    top: 75px;
    left: 235px;
    width: 192.12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 9.15px;
    font-size: 16px;
    color: var(--grey-05);
  }
  .datei-auswhlen {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color-steelblue-100);
    text-align: center;
  }
  .button1,
  .titel-button {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .button1 {
    cursor: pointer;
    border: 0.8px solid var(--color-steelblue-200);
    padding: 9.148514747619629px 12.198019981384277px;
    background-color: var(--color-gray-100);
    top: 74.24px;
    left: 460.24px;
    border-radius: 3.81px;
    height: 47.52px;
    justify-content: flex-start;
  }
  .titel-button {
    border: 1px solid var(--grey-04);
    background-color: var(--white);
    top: 210px;
    left: 43px;
    border-radius: var(--br-21xl);
    width: 581px;
    height: 65px;
    padding: var(--padding-6xs) var(--padding-xl);
    justify-content: flex-end;
  }
  .line5,
  .line6 {
    position: absolute;
    width: calc(100% - 32px);
    top: 774px;
    right: 16px;
    left: 16px;
    background-color: var(--grey-02);
    height: 1px;
  }
  .line6 {
    top: 871px;
  }
  .security-box,
  .upload-box {
    position: absolute;
    background-color: var(--white);
  }
  .security-box {
    top: 405px;
    left: 43px;
    border-radius: var(--br-21xl);
    border: 1px solid var(--grey-04);
    box-sizing: border-box;
    width: 581px;
    height: 65px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-6xs) var(--padding-xl);
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-3xs);
  }
  .upload-box {
    top: calc(50% - 678px);
    left: calc(50% - 386px);
    border-radius: var(--br-5xl);
    box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.18);
    width: 662px;
    height: 966px;
    mix-blend-mode: normal;
  }
  .hochladen {
    flex: 1;
    position: relative;
  }
  .synced {
    position: absolute;
    top: calc(50% + 218px);
    left: calc(50% - 386px);
    border-radius: 0 0 var(--br-5xl) var(--br-5xl);
    background-color: var(--flat-grey);
    width: 662px;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 14px var(--padding-xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 24px;
    color: var(--grey-05);
    font-family: var(--font-roboto);
  }
  .upload {
    position: relative;
    background-color: var(--white);
    width: 100%;
    height: 2012px;
    overflow-x: auto;
    text-align: left;
    font-size: 9.91px;
    color: #000;
    font-family: var(--font-helvetica);
  }
  